body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
  align-items: center;
  width: 100%;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.page-header {
  margin-bottom: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-flex-container {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 0 16px;
}
.logol {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-right: 76px;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.logoll {
  color: #2e2f42;
  text-decoration: none;
}
.logolll {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 16px;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}
.menu-logol {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-open-btn {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.menu-open-btn:hover,
.menu-open-btn:focus {
  background-color: #bfc0c4;
}
.form-open-ico {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 24px;
}
.fixing {
  position: fixed;
  width: 320px;
  height: 100%;
}
.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #bfc0c4;
}
.menu-nav-ul {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #2e2f42;
  margin-bottom: 168px;
}
.menu-nav-li {
}
.menu-nav-a {
  text-decoration: none;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.menu-contact-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  font-family: 'Roboto', sans-serif;
}
.menu-contact-li {
}
.menu-contact-a {
  color: #2e2f42;
  text-decoration: none;
}
.icons {
  display: flex;
  width: 40px;
  height: 40px;
}
.icons-container {
  display: flex;
  gap: 40px;
}
.instag {
  fill: #f4f4fd;
  line-height: 0;
}
.menu-contact-a:hover,
.menu-contact-a:focus,
.menu-nav-a:hover,
.menu-nav-a:focus {
  color: #404bbf;
}
.icon-a:hover,
.icon-a:focus {
  background-color: #404bbf;
}
.icon-a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.heder-tab-pc {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.section-hero {
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  flex-shrink: 0;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features-container {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}
.title-hl {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
}
.button-l {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 48px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button-l:hover {
  background-color: #404bbf;
}
.button-l:focus {
  background-color: #404bbf;
}

/*================== modal ============== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 288px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-close-btn {
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: flex;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-close-ico {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-close-btn:hover,
.form-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-p {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.form-modal {
  display: flex;
  flex-direction: column;
}
.modal-div-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
  margin-bottom: 4px;
}
.modal-form-input {
  outline: transparent;
  background-color: transparent;
  height: 40px;
  padding: 8px 16px 8px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus + .form-number-ico,
.modal-form-input:hover,
.modal-form-input:focus + .form-mail-ico,
.modal-form-input:hover,
.modal-form-input:focus + .form-name-ico {
  fill: #4d5ae5;
}
.input-image-container {
  position: relative;
}
.comment-container {
  margin-bottom: 16px;
}
.modal-textaarea {
  
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.modal-textaarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.modal-form-input:hover,
.modal-form-input:focus,
.modal-textaarea:hover,
.modal-textaarea:focus {
  border: 1px solid #4d5ae5;
}
.form-name-ico {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.privacy-p {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.checkbox {
  margin-top: 0;
  margin-bottom: 24px;
}
.check-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-input:checked + .privacy-p > .check-style {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.modal-submit {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
}
